.c-member-list__item {
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 90%;
  border: 2px solid #dfdbdb;
  border-radius: 20px;
  padding: 5%;
  overflow-y: auto;
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.5);
}

.c-member-list__member__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: larger;
  padding: 10px;
  margin: 2% auto;
  height: 50px;
  width: 100%;
  border: 2px solid #dfdbdb;
  border-radius: 15px;
  background-image: linear-gradient(180deg, rgb(163, 161, 161), #dfdbdb);
}

.c-member-list__member__avatar {
  padding-right: 5px;
}

.c-member-list__member__username {
  font-size: 80%;
}
